@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

div#sidebar {
    display:none;
}

@media screen and (max-width: 1024px) {
    img.menu-mobile {
        display: grid;
        place-content: center;
        height: 100px;
        width: 100px;
    }
    div#sidebar {
        display:none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        background: white;
        min-height: 100vh;
        box-sizing: border-box;
        padding: 35px;
        overflow-y: scroll;
        place-content: baseline;
    }
    .close-div {
        position: fixed;
        top: 0;
        right: 0;
        margin: 15px;
    }
    #sidebar h2 {
        font-size: 24px;
        font-family: inherit;
    }
    #sidebar li {
        font-size: 16px;
        font-family: inherit;
    }
}


div#sidebar {
    display:none;
}

@media screen and (max-width: 1024px) {
    img.menu-mobile {
        display: grid;
        place-content: center;
        height: 100px;
        width: 100px;
    }
    div#sidebar {
        display:none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        background: white;
        min-height: 100vh;
        box-sizing: border-box;
        padding: 35px;
        overflow-y: scroll;
        place-content: baseline;
    }
}


/* General */
.footer-cta {
    grid-column: 1 / -1;
    place-content: center;
    place-items: center;
    display: grid;
    gap: 20px;
    background: white;
    min-height: 200px;
}
body {
    background: #263238;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: system-ui;
}

p.grid-id-info {
    display: none;
}

img.menu-mobile {
    height: 100px;
    width: 100px;
    display:none;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    font-family: "Gochi Hand", cursive;
}

img.logo-header {
    margin: 0;
    display: block;
    height: 100px;
    object-fit: contain;
    width: 100%;
}

a.logo-link:hover {
    background: none !important;
}

a.logo-link {
   padding: 0px!important;
}
div#header a {
    padding: 10px;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background: #000;
    height: 100px;
    font-size: clamp(19px, 3vw, 24px);
    gap: 15px;
    box-shadow: 1px 1px 16px black;
}

#header li {
    display: inline-block;
}

#header li a,
#header .dropbtn {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    height: 50px;
    display: flex;
    place-items: center;
    box-sizing: border-box;
}

#header li a:hover,
#header .dropdown:hover .dropbtn {
    background-color: red;
}

#header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#header .dropdown-content a:hover {
    background-color: #f1f1f1;
}

#header .dropdown:hover .dropdown-content {
    display: block;
}

/* Grid Layout */
grid-body,
grid-page {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
}

grid-body {
    min-height: 100vh;
    align-content: start;
}

section {
    position: relative;
    height: fit-content;
    z-index: 0;
    overflow: hidden;
}

/* Typography */
grid-body p,
grid-body a,
grid-body ol,
grid-body ul,
grid-body button,
grid-description,
grid-desc,
item-desc {
    font-size: 17px;
    font-weight: 400;
    color: #434242;
    line-height: 1.5;
}

grid-body h1,
grid-body h2,
grid-body h3,
grid-body h4,
grid-item h1,
grid-item h2,
grid-title,
item-title {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
}

grid-content h1 {
    font-size: clamp(34px, 6vw, 54px);
}

grid-content h2 {
    font-size: clamp(28px, 5vw, 44px);
}

grid-content h3 {
    font-size: clamp(20px, 4vw, 34px);
}

grid-content h4 {
    font-size: clamp(16px, 3vw, 24px);
}

grid-content p,
grid-content ol,
grid-content ul {
    margin: 16px 0;
}

grid-content ul {
    list-style: disc;
    margin-left: 35px;
}

/* Footer */
div#footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    font-family: 'Gochi Hand', cursive;
    background: #263238;
    min-height: 50px;
}

.footer-section {
    padding: clamp(35px, 3vw, 35px);
    background: #000000;
    display: grid;
    gap: 20px;
    place-content: baseline;
}

div#footer grid-box {
    padding: 35px;
    display: grid;
    place-items: baseline;
    background: black;
}

div#footer a {
  	color: white;
    font-size: clamp(16px, 4vw, 16px);
    text-underline-position: under;
    display: flex;
    height: clamp(35px, 3vw, 35px);
    font-family: system-ui;
    gap: 10px;
}

div#footer h2 {
    color: #00a5ff;
    font-size: 26px;
}
div#footer li {
    display:flex;
}

/* Buttons */
.white-button {
    border: 3px solid white;
    padding: 0 15px;
    color: black;
    background: white;
    font-size: 14px;
    border-radius: 10px;
    height: 50px;
    display: grid;
    place-content: center;
}

/* Media Queries */
@media screen and (min-width: 641px) and (max-width: 1024px) {
    div#footer {
        grid-template-columns: repeat(2, 1fr);
    }

   
}

@media screen and (max-width: 640px) {
    grid-body {
        margin: 0 auto;
    }

    div#footer {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 1024px) {
    .display-none {
        display: none !important;
    }
    img.menu-mobile {
        display: grid;
        place-content: center;
        height: 100px;
        width: 100px;
    }
     img.logo-header {
        object-fit: cover;
        width: 300px;
    }

    #header ul {
        display: grid;
        grid-template-columns: 1fr 100px;
    }
}

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Close button */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* When sidebar is open */
.sidebar a:hover {
    color: #f1f1f1;
}

